# Large External Dependencies (must be downloaded separately)
opencv2.framework
MetalSplat/ykx_boxing_long_qp15_380
MetalSplat/4K_Actor2_Dancing_qp22
MetalSplat/4K_Actor2_Dancing_sh0_res4_qp15
MetalSplat/4K_Actor2_Dancing_sh0_res2_qp15

# Xcode
xcuserdata/
*.xcuserstate
*.xcworkspace/xcuserdata/
project.xcworkspace/xcuserdata/

# Build products
build/
DerivedData/
*.ipa
*.dSYM.zip
*.dSYM

# Swift Package Manager
.build/
Packages/
*.xcodeproj/project.xcworkspace/xcshareddata/swiftpm/

# macOS
.DS_Store
.AppleDouble
.LSOverride

# Thumbnails
._*

# Files that might appear in the root of a volume
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk
build_errors.log

*.code-workspace
